bert-embedding
numpy
tqdm
pandas
mxnet-cu101
sentence-transformers
tensorflow 
tensorflow-gpu
tensorflow-hub
bert
torch 
pytorch-lightning
transformers==4.28.0
scikit-learn
ipywidgets
bertviz
json5
mxnet
nltk 
gensim
sentencepiece
fairseq
datasets
collections2